.idea
__pycache__/
.git
*.tar.xz
*.pyc
wandb
venv/
BU/

/data/

Gesture_Generator/Training/*

Gesture_Lexicon/Training/*
Gesture_Lexicon/tsne_fig/*

Lexeme_Interpreter/Training/*

Pretrained_Source.zip
/Pretrained_Source/